In [1]:
# project: p6
# submitter: nphansen
# partner: goschmitz

import pandas as pd 
import numpy as np 
from zipfile import ZipFile
import time

with ZipFile("dataset_diabetes.zip") as zf:
    df = pd.read_csv('diabetic_data.csv') #?? should this be read straight from csv instead? 

ids = df.loc[:,:'patient_nbr'] 
a = ids.values
    
train_idx = list()
test_idx = list()

In [2]:
a = a.astype(str)
x,y = a.T
cat = list(np.char.add(x,y))

for i in range(len(cat)):
    digit_sum = 0
    for c in cat[i]:
        digit_sum += int(c)
    if digit_sum & 1:
        test_idx.append(i)
    else:
        train_idx.append(i)

In [3]:
test = df.iloc[test_idx]
train = df.iloc[train_idx]

In [4]:
x = "2673"
y = "111"
x+y

'2673111'

In [5]:
#q1
train.shape, test.shape

((50803, 50), (50963, 50))

In [6]:
#q2
(
    train["time_in_hospital"].mean(),
    test["time_in_hospital"].mean(),
    train["time_in_hospital"].std(), 
    test["time_in_hospital"].std(),
)

(4.401295199102416, 4.390695210250574, 2.984025665505041, 2.9862059667206435)

In [7]:
#q3
{
    "train": dict(train["readmitted"].value_counts()),
    "test": dict(test["readmitted"].value_counts()),
}

{'train': {'NO': 27360, '>30': 17770, '<30': 5673},
 'test': {'NO': 27504, '>30': 17775, '<30': 5684}}

In [8]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [13]:
#q4
cols = df.columns

for col in cols:
    percents = df[col].value_counts(normalize=True)
    if '?' in percents:
        missing[col] = percents['?']

missing

NameError: name 'missing' is not defined

In [ ]:
#q5

In [ ]:
#q6

In [ ]:
#q7

In [ ]:
#q8